{% load static %}

<div class="container">
  <div class="row" style="margin-top: 100px;">
    <div class="col-sm-4"><img src="{% static 'img/document.png' %}" height="350" class="d-inline-block align-top rounded-circle"/></div>
    <div class="col-sm-4"><img src="{% static 'img/document.png' %}" height="350" class="d-inline-block align-top rounded-circle"/></div>
    <div class="col-sm-4"><img src="{% static 'img/document.png' %}" height="350" class="d-inline-block align-top rounded-circle"/></div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-sm-4"><img src="{% static 'img/document.png' %}" height="350" class="d-inline-block align-top rounded-circle"/></div>
    <div class="col-sm-4"><img src="{% static 'img/document.png' %}" height="350" class="d-inline-block align-top rounded-circle"/></div>
    <div class="col-sm-4"><img src="{% static 'img/document.png' %}" height="350" class="d-inline-block align-top rounded-circle"/></div>
  </div>
</div>